<footer class="footer">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h4>LOGO</h4>
                <p>Place sticky footer content here.</p>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><h5>Section</h5></li>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><h5>Section</h5></li>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li><h5>Section</h5></li>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

